body{
  margin: 0px;
}
.head{
  padding: 1px;
  margin: 0px;
  text-align: center;
  font-family: Open sans light;
  background-color: darkgray;
  color: white;
}
.container{
  padding: 10px;
  text-align: center;
}
input{
  font-family: Open sans light;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 20px;
}
button{
  font-family: Open sans light;
  background-color: cadetblue;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
